In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_excel('Lending Data.xlsx')
df

#loading data

,Name of Lending Institution,HQ State,Rank,TA Ratio1,TBL Ratio1,"Amount ($1,000)",Number,Lender Asset Size,"Amount ($1,000).1",Number .1,Unnamed: 10,"Amount ($1,000).2",Number .2,CC Amount/TA1
0,NaN,NaN,-1,-2,-3,-4,-5,-6,-7.0,-8.0,NaN,-9.0,-10.0,-11
1,American Express Co.,NY,1,0.23829,0.999544,16350038,3603226,>$50B,16318089.0,3603088.0,NaN,31949.0,138.0,0.28
2,First Citizens Banchares,NC,2,0.187393,0.49083,3914507,117702,$10B-$50B,378394.0,105081.0,NaN,3536113.0,12621.0,.
3,Wintrust Financial Corp.,IL,3,0.168999,0.383561,2842793,136801,$10B-$50B,800526.0,126455.0,NaN,2042267.0,10346.0,0
4,Zions Bancorp,UT,4,0.117973,0.260577,6231770,52612,>$50B,526206.0,32973.0,NaN,5705564.0,19639.0,0
5,Synovus Financial Corp.,GA,5,0.162333,0.381387,4227168,22675,$10B-$50B,539666.0,9593.0,NaN,3687502.0,13082.0,0.01
6,BB&T Corp.,NC,6,0.0534601,0.252966,9408732,506879,>$50B,1922393.0,473449.0,NaN,7486339.0,33430.0,0
7,FNB Corp.,PA,7,0.127672,0.416207,1475506,25011,$10B-$50B,247853.0,17810.0,NaN,1227653.0,7201.0,.
8,Capital One Financial Corp.,VA,8,0.0275597,0.316466,9105726,2914573,>$50B,5872601.0,2900077.0,NaN,3233125.0,14496.0,0.25
9,Fulton Financial Corp.,PA,8,0.129126,0.347611,2133209,20080,$10B-$50B,187652.0,9909.0,NaN,1945557.0,10171.0,.
10,Regions Financial Corp.,AL,10,0.0610388,0.219176,7386970,63394,>$50B,1617601.0,41677.0,NaN,5769369.0,21717.0,0.01
11,U S Bancorp.,MN,11,0.042109,0.204845,14632161,870931,>$50B,4859559.0,828856.0,NaN,9772602.0,42075.0,0.05
12,First Niagara Financial Grp.,NY,11,0.0721729,0.287846,2530706,32530,$10B-$50B,446838.0,23841.0,NaN,2083868.0,8689.0,.
13,Lauritzen Corp.,NE,13,0.0705079,0.337212,1142096,101941,$10B-$50B,501648.0,97542.0,NaN,640448.0,4399.0,.
14,Huntington Bancshares Inc.,OH,13,0.0693833,0.222013,3914846,34732,>$50B,635757.0,20531.0,NaN,3279089.0,14201.0,0
15,Bancorpsouth Inc.,MS,15,0.125271,0.403506,1646169,15882,$10B-$50B,206856.0,9441.0,NaN,1439313.0,6441.0,.
16,TCF Financial Corp,MN,16,0.0936044,0.369586,1676064,19823,$10B-$50B,300863.0,11240.0,NaN,1375201.0,8583.0,0
17,GE Capital Retail Bk*,UT,17,0.0422412,1,1133624,716231,>$10B,1133624.0,716231.0,NaN,0.0,0.0,.
18,JPMorgan Chase & Co,NY,18,0.0186056,0.218723,25003294,2893892,>$50B,13410165.0,2836551.0,NaN,11593129.0,57341.0,0.06
19,Citigroup,NY,19,0.0125174,0.262057,9081426,1746916,>$50B,5587076.0,1732920.0,NaN,3494350.0,13996.0,0.1
20,Popular,PR,19,0.0708661,0.257545,2464690,22703,$10B-$50B,164682.0,11809.0,NaN,2300008.0,10894.0,0.03
21,Hancock Holding Company,MS,19,0.0923077,0.298702,1775410,18706,$10B-$50B,194239.0,11452.0,NaN,1581171.0,7254.0,0
22,M&T Bk Corp,NY,22,0.0677549,0.178182,5560491,56151,>$50B,1087373.0,37405.0,NaN,4473118.0,18746.0,0
23,Bank of Amer Corp,NC,23,0.0198308,0.18193,31042181,3277274,>$50B,14191509.0,3220135.0,NaN,16850672.0,57139.0,0.07
24,Central Bancompany,MO,24,0.109599,0.389119,1113344,14445,$10B-$50B,148800.0,10113.0,NaN,964544.0,4332.0,.
25,Arvest Bk Grp.,AR,25,0.0856778,0.345352,1167974,14601,$10B-$50B,173673.0,9471.0,NaN,994301.0,5130.0,.
26,Compass Bk,AL,26,0.0485339,0.171747,3445358,169539,>$50B,613869.0,158533.0,NaN,2831489.0,11006.0,0.01
27,Wells Fargo & Co,CA,27,0.0286485,0.145784,34570389,617508,>$50B,8416000.0,510097.0,NaN,26154389.0,107411.0,0.01
28,PNC Financial Svc. Group,PA,28,0.0363914,0.142764,10537942,220200,>$50B,2103528.0,184380.0,NaN,8434414.0,35820.0,0.01
29,Bank of The West,CA,29,0.0467647,0.208692,3645716,38919,>$50B,592967.0,28097.0,NaN,3052749.0,10822.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,HSBC Bk USA NA,VA,67,0.00636537,0.0580778,1126858,19558,>$50B,305390.0,16381.0,NaN,821468.0,3177.0,0
68,Washington Fed.,WA,67,0.012968,0.239378,174663,984,>$10B,12258.0,439.0,NaN,162405.0,545.0,.
69,Scottrade Bk,MO,69,0.00447037,0.527157,64835,121,>$10B,144.0,2.0,NaN,64691.0,119.0,.
70,Astoria FS & LA,NY,70,0.0098007,0.256392,169440,710,>$10B,5764.0,292.0,NaN,163676.0,418.0,.
71,Hudson City Svg Bk FSB,NJ,71,0.000985873,1,42358,86,>$10B,221.0,13.0,NaN,42137.0,73.0,.
72,Svb Financial Grp.,CA,72,0.0194864,0.0785737,390367,5182,$10B-$50B,29565.0,3458.0,NaN,360802.0,1724.0,0
73,UBS Bk USA,UT,73,0.0142975,0.138694,588440,1765,$10B-$50B,19037.0,417.0,NaN,569403.0,1348.0,.
74,City Nat Corp.,CA,74,0.0210675,0.0680851,514444,3595,$10B-$50B,46777.0,1505.0,NaN,467667.0,2090.0,0
75,Privatebancorp,IL,75,0.0345605,0.0577946,446034,2086,$10B-$50B,17537.0,722.0,NaN,428497.0,1364.0,.
76,Northern Trust Corp.,IL,76,0.00929716,0.084578,636415,2773,>$50B,23984.0,680.0,NaN,612431.0,2093.0,0
77,USAA FSB,TX,77,7.80479e-06,1,436,2,>$10B,436.0,2.0,NaN,0.0,0.0,.
78,Investors Bancorp MHC,NJ,78,0.0157968,0.110691,180865,717,$10B-$50B,6028.0,208.0,NaN,174837.0,509.0,.
79,New York Cmnty BC,NY,79,0.0113624,0.0635145,495681,1410,$10B-$50B,6227.0,171.0,NaN,489454.0,1239.0,.
80,First Republic Bk,CA,80,0.0102567,0.0775185,317825,1239,>$10B,14440.0,344.0,NaN,303385.0,895.0,.
81,Everbank,FL,81,0.0106016,0.10374,159411,652,>$10B,3994.0,148.0,NaN,155417.0,504.0,.
82,New York Private B&TR Corp.,NY,82,0.0122933,0.0876243,141181,486,$10B-$50B,1632.0,20.0,NaN,139549.0,466.0,.
83,Morgan Stanley Bk NA,UT,83,0.00320856,0.0409154,261157,834,>$50B,10000.0,203.0,NaN,251157.0,631.0,.
84,Flagstar Bk FSB,MI,84,0.00655517,0.069132,94100,405,>$10B,2385.0,123.0,NaN,91715.0,282.0,.
85,Onewest Bk FSB,CA,85,0.00433395,0.0500412,107724,406,>$10B,356.0,22.0,NaN,107368.0,384.0,.
86,Bank of NY Mellon Corp.,NY,86,0.000310486,0.0480148,55544,351,>$50B,4995.0,188.0,NaN,50549.0,163.0,0
87,Goldman Sachs Group The,NY,87,3.48757e-05,0.00102276,4000,6,>$50B,0.0,0.0,NaN,4000.0,6.0,0
88,Deutsche Bk Tc Americas,NY,88,4.67874e-05,0.000333249,2000,4,$10B-$50B,0.0,1.0,NaN,2000.0,3.0,0
89,USAA Svg. Bank,NV,NR,0,-,0,1,>$10B,0.0,1.0,NaN,0.0,0.0,.
90,State Street Corp.,MA,NR,-,-,-,-,>$50B,0.0,0.0,NaN,0.0,0.0,0
91,E Trade Bk,VA,NR,-,-,-,-,>$10B,0.0,0.0,NaN,0.0,0.0,.
92,Charles Schwab Bk,NV,NR,-,-,-,-,>$10B,0.0,0.0,NaN,0.0,0.0,.
93,Third FS&LA,OH,NR,-,-,-,-,>$10B,0.0,0.0,NaN,0.0,0.0,.
94,"*The bank was formerly known as GE Money Bank,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,1 TA = total domestic assets held by the lende...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,"Source: U.S. Small Business Administration, Of...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 14 columns):
Name of Lending Institution    96 non-null object
HQ State                       93 non-null object
Rank                           94 non-null object
TA Ratio1                      94 non-null object
TBL Ratio1                     94 non-null object
Amount ($1,000)                94 non-null object
Number                         94 non-null object
Lender Asset Size              94 non-null object
Amount ($1,000).1              94 non-null float64
Number .1                      94 non-null float64
Unnamed: 10                    0 non-null float64
Amount ($1,000).2              94 non-null float64
Number .2                      94 non-null float64
CC Amount/TA1                  94 non-null object
dtypes: float64(5), object(9)
memory usage: 10.7+ KB

In [5]:
df.columns

Index(['Name of Lending Institution', 'HQ State', 'Rank', 'TA Ratio1',
       'TBL Ratio1', 'Amount ($1,000)', 'Number ', 'Lender Asset Size',
       'Amount ($1,000).1', 'Number .1', 'Unnamed: 10', 'Amount ($1,000).2',
       'Number .2', 'CC Amount/TA1'],
      dtype='object')

In [6]:
df.describe()

,"Amount ($1,000).1",Number .1,Unnamed: 10,"Amount ($1,000).2",Number .2
count,9.400000e+01,9.400000e+01,0.0,9.400000e+01,94.000000
mean,9.919647e+05,1.964819e+05,NaN,2.023422e+06,8425.255319
std,2.818599e+06,6.639889e+05,NaN,3.679601e+06,15008.480842
min,-7.000000e+00,-8.000000e+00,NaN,-9.000000e+00,-10.000000
25%,1.940850e+04,6.905000e+02,NaN,1.795375e+05,550.000000
50%,1.278210e+05,7.593000e+03,NaN,8.526710e+05,3344.000000
75%,5.284680e+05,3.304275e+04,NaN,2.272185e+06,10750.000000
max,1.631809e+07,3.603088e+06,NaN,2.615439e+07,107411.000000

#Data Cleaning

In [7]:
del df['Unnamed: 10']

#deleting the column which contains all null values

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 13 columns):
Name of Lending Institution    96 non-null object
HQ State                       93 non-null object
Rank                           94 non-null object
TA Ratio1                      94 non-null object
TBL Ratio1                     94 non-null object
Amount ($1,000)                94 non-null object
Number                         94 non-null object
Lender Asset Size              94 non-null object
Amount ($1,000).1              94 non-null float64
Number .1                      94 non-null float64
Amount ($1,000).2              94 non-null float64
Number .2                      94 non-null float64
CC Amount/TA1                  94 non-null object
dtypes: float64(4), object(9)
memory usage: 9.9+ KB

In [9]:
df = df.dropna()

#deleting the null values

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93 entries, 1 to 93
Data columns (total 13 columns):
Name of Lending Institution    93 non-null object
HQ State                       93 non-null object
Rank                           93 non-null object
TA Ratio1                      93 non-null object
TBL Ratio1                     93 non-null object
Amount ($1,000)                93 non-null object
Number                         93 non-null object
Lender Asset Size              93 non-null object
Amount ($1,000).1              93 non-null float64
Number .1                      93 non-null float64
Amount ($1,000).2              93 non-null float64
Number .2                      93 non-null float64
CC Amount/TA1                  93 non-null object
dtypes: float64(4), object(9)
memory usage: 10.2+ KB

In [11]:
df = df.replace('-', np.nan)

#replacing '-' with NaN

In [13]:
df = df.fillna(df.mean())

#replace null values with the column mean